<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>bankweb</display-name>
  <welcome-file-list>
  
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
  
  
  <servlet>
        <servlet-name>LoginSeniorCitizen</servlet-name>
        <servlet-class>LoginSeniorCitizen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSeniorCitizen</servlet-name>
        <url-pattern>/LoginSeniorCitizen</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>Logincommon</servlet-name>
        <servlet-class>Logincommon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logincommon</servlet-name>
        <url-pattern>/Logincommon</url-pattern>
    </servlet-mapping>
  
  
  <servlet>
        <servlet-name>RegisterAdmin</servlet-name>
        <servlet-class>RegisterAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterAdmin</servlet-name>
        <url-pattern>/RegisterAdmin</url-pattern>
    </servlet-mapping>
  
  
  
  <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
  
  <servlet>
        <servlet-name>Deposit</servlet-name>
        <servlet-class>Deposit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Deposit</servlet-name>
        <url-pattern>/Deposit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Withdrawalbooking</servlet-name>
        <servlet-class>Withdrawalbooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Withdrawalbooking</servlet-name>
        <url-pattern>/Withdrawalbooking</url-pattern>
    </servlet-mapping>
  
  
   <servlet>
        <servlet-name>Documentverifi</servlet-name>
        <servlet-class>Documentverifi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Documentverifi</servlet-name>
        <url-pattern>/Documentverifi</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>forgotseniorpassword</servlet-name>
        <servlet-class>forgotseniorpassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forgotseniorpassword</servlet-name>
        <url-pattern>/forgotseniorpassword</url-pattern>
    </servlet-mapping>
  
  
    
  <servlet>
        <servlet-name>forgotAdmin</servlet-name>
        <servlet-class>forgotAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forgotAdmin</servlet-name>
        <url-pattern>/forgotAdmin</url-pattern>
    </servlet-mapping>
  
  
  <servlet>
        <servlet-name>CancelSlotdeposit </servlet-name>
        <servlet-class>CancelSlotdeposit </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelSlotdeposit </servlet-name>
        <url-pattern>/CancelSlotdeposit </url-pattern>
    </servlet-mapping>
   
    
    <servlet>
        <servlet-name> CancelSlotwithdrawal</servlet-name>
        <servlet-class> CancelSlotwithdrawal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name> CancelSlotwithdrawal</servlet-name>
        <url-pattern>/CancelSlotwithdrawal</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name> CancelSlotdocument</servlet-name>
        <servlet-class> CancelSlotdocument</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name> CancelSlotdocument</servlet-name>
        <url-pattern>/CancelSlotdocument</url-pattern>
    </servlet-mapping>
    
    
  <servlet>
        <servlet-name>logoutAdmin</servlet-name>
        <servlet-class>logoutAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutAdmin</servlet-name>
        <url-pattern>/logoutAdmin</url-pattern>
    </servlet-mapping>
    
    
    
  
</web-app>